<div class="container">
  <div class="row">
    <div class="col">
        <div class="view overlay hm-blue-light">
          <img src="assets/img/issamSlateSMALL.jpg" class="img-fluid" alt="Responsive image">
          <div class="mask flex-center">
              <p class="white-text">Issam Moussaïd</p>
          </div>
        </div>
    </div> 
    <div class="col twee">
      <div class="issam">
        <br>
        <h4>Issam Moussaïd</h4>
        <p>Issam moussaïd is een student elektronica-ict op de AP hogeschool in Antwerpen. Voor deze opdracht heeft hij zich bezig gehouden met het ontwikkelen van het parken gedeelte. Wanneer je klikt op 'picnic' kan je een lijst opvragen van alle parken die zich in antwerpen bevinden. Je kan zowel zoeken op district als postcode of een lijst opvragen van alle parken. Dan kan je naargelang het weer beslissen om de picnic te laten doorgaan ofniet.  </p>          <br>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col">
        <div class="view overlay hm-blue-light">
          <img src="assets/img/tinoMercurySMALL.jpg" class="img-fluid" alt="Responsive image"> 
          <div class="mask flex-center">
            <p class="white-text">Tijn Thielens</p>
          </div>     
        </div>
      </div>
      <div class="col twee">
        <div class="tijn">
          <br>
          <h4>Tijn Thielens</h4>
          <p> Tijn Thielens is een student Elektronica-ict op de AP hogeschool in Antwerpen. Voor deze opdracht heeft hij zich bezig gehouden met het ontwikkelen van het restaurant gedeelte. Wanneer je beslist om de picnic niet te laten doorgaan door het slecht weer kan je zoeken naar Horeca buurten zodat je geen last hebt van het slecht weer. Je kan ook hier zowel zoeken op district als postcode of een lijst opvragen van alle horecabuurten. Wanneer je klikt op een tabel rij wordt je verwezen naar de map pagina waar je zowel je eige locatie kan zien en waar je de buurt kan opzoeken.</p>
        </div>
      </div>  
  </div>
</div>